// Varibales

.ico
  display: inline-block
  content: ' '

a, button
  color: inherit
  &:hover
    text-decoration: none
    color: inherit
  &:focus
    outline: none
    outline-offset: 0px
    color: inherit
  &:visited
    color: inherit

label
  font-size: 16px

input:focus, input:active
  outline: none
  border-color: $primary
  box-shadow: 0px 0px 6px rgba($primary, .3)

.color--gray
  color: $borderColor

// Helpers
.pt15
  margin-top: 15px

.mt20
  margin-top: 20px

.mt40
  margin-top: 40px

.mt50
  margin-top: 50px

.mt80
  margin-top: 80px

.z50
  position: relative
  z-index: 50

.heading
  font-size: 60px
  line-height: 1.2em
  font-weight: 300
  margin-bottom: 10px

.heading--light
  font-size: 40px


// Layout
body
  font-size: 14px
  font-family: "Helvetica Neue"
  color: #333333
  overflow-x: hidden

.container
  width: 100%
  max-width: 1200px

.no-pad
  padding: 0
.no-pl-xs
  @include mq($until: mobile)
    padding-left: 0
.header
  position: absolute
  top: 0
  width: 100%
  background: white
  padding: 40px 0 30px 0
  &--inner
    position: relative
  @include mq($until: mobile)
    padding: 30px 0 20px 0

.floater
  position: fixed
  opacity: 0
  top: -80px
  left: 0
  background: white
  width: 100%
  padding: 10px 0
  box-shadow: 0px 5px 5px rgba(black, .3)
  z-index: 20
  transition: all .4s ease
  &.active
    top: 0
    opacity: 1
  .ico--hero-phone
    background-position: 0 -119px
  .hero__phone
    margin-top: 0px
  .hero__navi
    margin-top: 10px

.inner-navi
  position: relative
  padding: 10px 0
  margin-bottom: 70px
  background: $green
  color: white
  .hero__phone
    margin-top: 0px
  .hero__navi
    margin-top: 10px
  &--blue
    background: $blue
  &--primary
    background: $primary

.hero
  height: 100vh
  min-height: 800px
  background: url('../images/bg-hero.png') no-repeat center
  background-size: cover
  padding-top: 180px
  color: white

.services
  padding-top: 80px
  .row
    z-index: 0
    &:hover
      z-index: 1

.steps
  font-weight: 300

.cta
  margin-top: 150px
  &::before
    display: block
    content: ' '
    background: url('../images/bg-cta-up.png') no-repeat center
    background-size: cover
    height: 280px
  &::after
    display: block
    content: ' '
    background: url('../images/bg-cta-down.png') no-repeat center
    background-size: cover
    height: 280px

.portfolio
  padding-top: 80px

.testimonials
  padding-top: 80px

.capture
  background: url('../images/bg-capture.png') no-repeat center
  background-size: cover
  color: white
  padding: 85px 0
  margin-top: 80px

.footer
  font-size: 16px
  padding-top: 55px
  padding-bottom: 60px


// INNER PAGES

.map
  position: relative
  #map
    width: 100%
    height: 90vh
    @include mq($until: mobile)
      height: 140vh

.testimonials-inner
