.ico--brief
  background: url('../images/sprite.png') no-repeat 0 0
  width: 60px
  height: 70px

.ico--hero-phone
  background: url('../images/sprite.png') no-repeat 0 -78px
  width: 40px
  height: 40px

// hero icons

.ico--hero-1
  background: url('../images/sprite.png') no-repeat -75px 0
  width: 112px
  height: 120px

.ico--hero-2
  background: url('../images/sprite.png') no-repeat -287px 0
  width: 140px
  height: 120px

.ico--hero-3
  background: url('../images/sprite.png') no-repeat -521px 0
  width: 110px
  height: 120px

// services icons

.ico--service-1
  background: url('../images/sprite.png') no-repeat -36px -146px
  width: 155px
  height: 137px

.ico--service-2
  background: url('../images/sprite.png') no-repeat -334px -146px
  width: 147px
  height: 137px

.ico--service-3
  background: url('../images/sprite.png') no-repeat -643px -146px
  width: 137px
  height: 137px

.ico--service-4
  background: url('../images/sprite.png') no-repeat -937px -146px
  width: 137px
  height: 137px

.ico--service-5
  background: url('../images/sprite.png') no-repeat -5px -370px
  width: 225px
  height: 137px

.ico--service-6
  background: url('../images/sprite.png') no-repeat -349px -370px
  width: 137px
  height: 137px

.ico--service-7
  background: url('../images/sprite.png') no-repeat -630px -370px
  width: 137px
  height: 137px

.ico--service-8
  background: url('../images/sprite.png') no-repeat -939px -370px
  width: 137px
  height: 137px


// steps
.ico--step-block-1
  background: url('../images/sprite.png') no-repeat -43px -527px
  width: 90px
  height: 120px
.ico--step-block-2
  background: url('../images/sprite.png') no-repeat -159px -630px
  width: 94px
  height: 150px
.ico--step-block-3
  background: url('../images/sprite.png') no-repeat -0px -800px
  width: 163px
  height: 90px
.ico--step-block-4
  background: url('../images/sprite.png') no-repeat -157px -908px
  width: 152px
  height: 120px
