$borderColor: #777777
$green: #45cd55
$greenDark: #27a936

// HEADER
.header__logo
  height: 30px

.header__slogan
  font-size: 36px
  line-height: 1.1em
  padding-top: 7px
  span
    display: block
    font-size: 18px
    font-weight: 300
    margin-top: -12px

.header__brief
  position: relative
  .ico
    position: absolute
    left: 0
    top: 0
  span
    padding-left: 70px
    display: inline-block
    font-weight: 300
    line-height: 1.2em
  &:hover
    opacity: .8

.header__brief-name
  font-size: 24px
  padding-top: 3px

.header__brief-action
  font-size: 16px
  padding-top: 5px


//hero
.hero__navi
  font-weight: 300
  font-size: 16px
  a
    padding-right: 10px

.hero__phone
  font-weight: 300
  margin-top: -15px

.hero__phone-wrapper
  padding-left: 10px
  display: inline-block

.hero__phone-number
  font-size: 24px
  display: inline-block
  line-height: 1em

.hero__phone-callback
  display: block
  font-size: 14px
  text-decoration: underline
  line-height: 1.2em


.hero__title
  margin-top: 10vh
.hero__title__main
  font-size: 53px
  font-weight: 600
  line-height: 1em
  text-align: center
  span
    font-weight: 300
    font-size: 45px
    letter-spacing: 7px
    display: block

.hero__form
  font-size: 16px
  margin: 0 auto
  display: inline-block
  margin-top: 40px
  span
    margin-bottom: 5px
    display: inline-block

.form-input
  background: white
  border: 1px solid $borderColor
  padding: 10px 15px
  margin-right: 15px
  border-radius: 4px
  display: inline-block

.hero__icons
  text-align: center
  margin-top: 10vh
  span
    font-size: 18px
    font-weight: 300
